<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.grape.model.mapper.base.DepartmentMapper" >
  <resultMap id="BaseResultMap" type="com.grape.model.db.Department" >
    <id column="departmentno" property="departmentno" jdbcType="VARCHAR" />
    <result column="depbelongsto" property="depbelongsto" jdbcType="VARCHAR" />
    <result column="organizationno" property="organizationno" jdbcType="VARCHAR" />
    <result column="departmentname" property="departmentname" jdbcType="VARCHAR" />
    <result column="linkman" property="linkman" jdbcType="VARCHAR" />
    <result column="telnumber" property="telnumber" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="departmentcode" property="departmentcode" jdbcType="CHAR" />
    <result column="chgdt" property="chgdt" jdbcType="TIMESTAMP" />
    <result column="chgtl" property="chgtl" jdbcType="VARCHAR" />
    <result column="superdep" property="superdep" jdbcType="VARCHAR" />
    <result column="level" property="level" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    departmentno, depbelongsto, organizationno, departmentname, linkman, telnumber, address, 
    departmentcode, chgdt, chgtl, superdep, level
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.grape.model.db.DepartmentExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from department
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from department
    where departmentno = #{departmentno,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from department
    where departmentno = #{departmentno,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.grape.model.db.DepartmentExample" >
    delete from department
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.grape.model.db.Department" >
    insert into department (departmentno, depbelongsto, organizationno, 
      departmentname, linkman, telnumber, 
      address, departmentcode, chgdt, 
      chgtl, superdep, level
      )
    values (#{departmentno,jdbcType=VARCHAR}, #{depbelongsto,jdbcType=VARCHAR}, #{organizationno,jdbcType=VARCHAR}, 
      #{departmentname,jdbcType=VARCHAR}, #{linkman,jdbcType=VARCHAR}, #{telnumber,jdbcType=VARCHAR}, 
      #{address,jdbcType=VARCHAR}, #{departmentcode,jdbcType=CHAR}, #{chgdt,jdbcType=TIMESTAMP}, 
      #{chgtl,jdbcType=VARCHAR}, #{superdep,jdbcType=VARCHAR}, #{level,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.grape.model.db.Department" >
    insert into department
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="departmentno != null" >
        departmentno,
      </if>
      <if test="depbelongsto != null" >
        depbelongsto,
      </if>
      <if test="organizationno != null" >
        organizationno,
      </if>
      <if test="departmentname != null" >
        departmentname,
      </if>
      <if test="linkman != null" >
        linkman,
      </if>
      <if test="telnumber != null" >
        telnumber,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="departmentcode != null" >
        departmentcode,
      </if>
      <if test="chgdt != null" >
        chgdt,
      </if>
      <if test="chgtl != null" >
        chgtl,
      </if>
      <if test="superdep != null" >
        superdep,
      </if>
      <if test="level != null" >
        level,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="departmentno != null" >
        #{departmentno,jdbcType=VARCHAR},
      </if>
      <if test="depbelongsto != null" >
        #{depbelongsto,jdbcType=VARCHAR},
      </if>
      <if test="organizationno != null" >
        #{organizationno,jdbcType=VARCHAR},
      </if>
      <if test="departmentname != null" >
        #{departmentname,jdbcType=VARCHAR},
      </if>
      <if test="linkman != null" >
        #{linkman,jdbcType=VARCHAR},
      </if>
      <if test="telnumber != null" >
        #{telnumber,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="departmentcode != null" >
        #{departmentcode,jdbcType=CHAR},
      </if>
      <if test="chgdt != null" >
        #{chgdt,jdbcType=TIMESTAMP},
      </if>
      <if test="chgtl != null" >
        #{chgtl,jdbcType=VARCHAR},
      </if>
      <if test="superdep != null" >
        #{superdep,jdbcType=VARCHAR},
      </if>
      <if test="level != null" >
        #{level,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.grape.model.db.DepartmentExample" resultType="java.lang.Integer" >
    select count(*) from department
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update department
    <set >
      <if test="record.departmentno != null" >
        departmentno = #{record.departmentno,jdbcType=VARCHAR},
      </if>
      <if test="record.depbelongsto != null" >
        depbelongsto = #{record.depbelongsto,jdbcType=VARCHAR},
      </if>
      <if test="record.organizationno != null" >
        organizationno = #{record.organizationno,jdbcType=VARCHAR},
      </if>
      <if test="record.departmentname != null" >
        departmentname = #{record.departmentname,jdbcType=VARCHAR},
      </if>
      <if test="record.linkman != null" >
        linkman = #{record.linkman,jdbcType=VARCHAR},
      </if>
      <if test="record.telnumber != null" >
        telnumber = #{record.telnumber,jdbcType=VARCHAR},
      </if>
      <if test="record.address != null" >
        address = #{record.address,jdbcType=VARCHAR},
      </if>
      <if test="record.departmentcode != null" >
        departmentcode = #{record.departmentcode,jdbcType=CHAR},
      </if>
      <if test="record.chgdt != null" >
        chgdt = #{record.chgdt,jdbcType=TIMESTAMP},
      </if>
      <if test="record.chgtl != null" >
        chgtl = #{record.chgtl,jdbcType=VARCHAR},
      </if>
      <if test="record.superdep != null" >
        superdep = #{record.superdep,jdbcType=VARCHAR},
      </if>
      <if test="record.level != null" >
        level = #{record.level,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update department
    set departmentno = #{record.departmentno,jdbcType=VARCHAR},
      depbelongsto = #{record.depbelongsto,jdbcType=VARCHAR},
      organizationno = #{record.organizationno,jdbcType=VARCHAR},
      departmentname = #{record.departmentname,jdbcType=VARCHAR},
      linkman = #{record.linkman,jdbcType=VARCHAR},
      telnumber = #{record.telnumber,jdbcType=VARCHAR},
      address = #{record.address,jdbcType=VARCHAR},
      departmentcode = #{record.departmentcode,jdbcType=CHAR},
      chgdt = #{record.chgdt,jdbcType=TIMESTAMP},
      chgtl = #{record.chgtl,jdbcType=VARCHAR},
      superdep = #{record.superdep,jdbcType=VARCHAR},
      level = #{record.level,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.grape.model.db.Department" >
    update department
    <set >
      <if test="depbelongsto != null" >
        depbelongsto = #{depbelongsto,jdbcType=VARCHAR},
      </if>
      <if test="organizationno != null" >
        organizationno = #{organizationno,jdbcType=VARCHAR},
      </if>
      <if test="departmentname != null" >
        departmentname = #{departmentname,jdbcType=VARCHAR},
      </if>
      <if test="linkman != null" >
        linkman = #{linkman,jdbcType=VARCHAR},
      </if>
      <if test="telnumber != null" >
        telnumber = #{telnumber,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="departmentcode != null" >
        departmentcode = #{departmentcode,jdbcType=CHAR},
      </if>
      <if test="chgdt != null" >
        chgdt = #{chgdt,jdbcType=TIMESTAMP},
      </if>
      <if test="chgtl != null" >
        chgtl = #{chgtl,jdbcType=VARCHAR},
      </if>
      <if test="superdep != null" >
        superdep = #{superdep,jdbcType=VARCHAR},
      </if>
      <if test="level != null" >
        level = #{level,jdbcType=VARCHAR},
      </if>
    </set>
    where departmentno = #{departmentno,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.grape.model.db.Department" >
    update department
    set depbelongsto = #{depbelongsto,jdbcType=VARCHAR},
      organizationno = #{organizationno,jdbcType=VARCHAR},
      departmentname = #{departmentname,jdbcType=VARCHAR},
      linkman = #{linkman,jdbcType=VARCHAR},
      telnumber = #{telnumber,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      departmentcode = #{departmentcode,jdbcType=CHAR},
      chgdt = #{chgdt,jdbcType=TIMESTAMP},
      chgtl = #{chgtl,jdbcType=VARCHAR},
      superdep = #{superdep,jdbcType=VARCHAR},
      level = #{level,jdbcType=VARCHAR}
    where departmentno = #{departmentno,jdbcType=VARCHAR}
  </update>
</mapper>